.App{
  background-color: cyan;
    text-align: center;
    padding: 20px;
    height: 400px;
    width: 50%;
}

.dropdown-container {
  display: inline-block;
  position: relative;
  width: 70%;
}

.dropdown-select {
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 8px 0;
  background-color: #e0cedf;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
}

.dropdown-container:hover .dropdown-menu {
  display: block;
}

.dropdown-menu-item {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-menu-item:hover {
  background-color: #daa7a7;
}